/* Colours */
.text--green
    color: #182819

.text--orange
    color: #ff8400

.background--green
    background-color: #182819

.background--grey
    background-color: #f0f0f0

/* Grid */
.container--grid
    display: grid
    grid-template-columns: repeat(6, 1fr)
    grid-template-rows: repeat(9, 1fr)

.article-1
    grid-column: 2/3
    grid-row: 2/3
    z-index: 1

.article-2
    grid-column: 3/4
    grid-row: 2/3
    z-index: 1

.article-3
    grid-column: 5/6
    grid-row: 2/5
    z-index: 1

.article-4
    grid-column: 3/4
    grid-row: 7/9
    z-index: 1

.article-5
    grid-column: 5/6
    grid-row: 8/9
    z-index: 1

.image-1
    grid-column: 3/4
    grid-row: 4/6
    width: 400px
    z-index: 1

.image-2
    grid-column: 5/6
    grid-row: 6/8
    width: 400px
    z-index: 1

.background--green
    grid-column: 1/7
    grid-row: 1/10
